
.hidden
{
    display:none;
}

#app
{
    margin:0 auto;
}

#mainHeader
{
    
    width:100%;
    height:225px;
}

.headerImage
{
    max-width:100%; 
}

//burger nav

#burgerCon
{
  display:none;
  margin-top:20px;
}


#burgerCon.slideToggle{display:block;}

#endingPoints
{
  display:inline-block;
}

#mainNav
{
    background-color:#662d91;
    width:85%;
    position:absolute;
    -moz-border-radius-bottomright: 100px;
  -webkit-border-bottom-right-radius: 100px; 
  z-index:30;
}

#mainNav button
{
 background-color:#662d91;
 border:0;
 width:40px;
 height:40px;
 transition: all 400ms ease;
 position: absolute;
 margin-top:-80px;
 margin-left:20px;
}


#mainNav button.expanded{
  
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

#mainNav li a{
  display:block;
  color:#fff;
  
  list-style-type:none;
  font-size:30px;
  padding:10px 0;
  text-align:left;

  height:50px;

  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration:none;

}
#mainNav span{color:white; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:30px;}

#mainNav li{border-bottom: 1px solid #efefef;}
#mainNav li:first-child {border-top: 1px solid #efefef;}
#mainNav li:last-child {margin-bottom: 10px; }
#mainNav li a:hover {background-color: #efefef  }
#searchForm{margin-top: 20px;}


#intro
{
    width:100%;
    height:350px;
    background-color:#E6E6E6;
    margin-top:-155px;
    position:absolute;
    z-index:-10;
    text-align:center;
}

#introText
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#662d91;
    margin-top:80px;
    font-size:25px;
    line-height:30px;
}




* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 100%;
  height: 430px;
  margin-right: 10px;
  
  counter-increment: gallery-cell;
  margin-top:200px;
  text-align:center;
}


.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 0px;
  color: #fff;
}

.slider
{
    margin-top:-200px;
    width:170px;
    height:170px;
    margin-left:8.2px;
    
}

.sliderText
{
    color:#662d91;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:30px;
}

.desc
{
    color: #662d91;
    font-size:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#mainFooter
{
    width:100%;
    height:150px;
    background-color:#662d91;
    margin-top:30px;
}

#mainFooter img{
    width:120px;
    height:100px;
    margin-left:20px;
}

#copyrightText
{
    color:#fff;
    font-size:20px;
    float:right;
    margin-right:20px;
}

@import 'modules/userStyles';
@import 'modules/movieStyles';

@import 'modules/moviesPage';
