<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"> <!-- icon library -->
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link rel="stylesheet" href="public/css/main.css">

  
  <title>Welcome to Roku Flashback</title>
</head>

<body>
  <main id="app">
    <h1 class="hidden">Landing Page</h1>
    <header id="mainHeader">
        <div id="header_bar">
       <a href="index.html"><img src="images/header_bar.svg" alt="header" class="headerImage"></a>
        <nav id ="mainNav">
            <h2 class = "hidden">main navigation</h2>
            <button id="button"></button>
            <div id="burgerCon">
              <ul id="burgerMenu">
                <ul class="endingPoints">
                  <!-- avatar / user icon-->
                  <!-- if the user has an avatar, show it -->
                  <span id="userHead"> {{user.uname}}</span>
                  <li v-if="user.avatar">
                    <img v-bind:src="'images/' + user.avatar" alt="user avatar" class="u-avatar">
                  </li>
        
                  <!-- else show this -->
                  <li v-else>
                    <i class="fas fa-user"></i>
                  </li>
                  <!-- end avatar -->
        
                  <!-- settings icon / functionality -->
                  <!-- if our user object has admin rights, then show this -->
                  <li v-if="user.iadmin"> <!-- *******************screwed this up in database FIX PLZ to isadmin********************* -->
                    <i @click="setUserPrefs" class="fas fa-cog" role="button"></i>
                  </li>
                  <!-- end user settings -->
        
                  <!-- log in / log out -->
                  <li>
                    <i v-on:click="logInOut" class="fas fa-power-off u-login" :class="{ 'logged-in' : user.isLoggedIn }" role="button"></i> <!-- logged-in comes from css-->
                  </li>
                </ul>

                <li><a href="index.html">Home</a></li>
                <li><a href="moviesPage.html">Movies</a></li>
                <li><a href="#">TV Shows</a></li>
                <li><a href="#">Music</a></li>
              </ul>
              
            </div>
          </nav>
        </div>
    </header>

    <section id="intro">
        <h1 id="introText">Welcome to Roku FlashBack<br>
            Here you will find the best in classic<br>
            entertainment from the last <br>
            half-century. Listen to music, watch<br>
            movies, or binge television shows. <br>
            Get started below!<br>


         </h1>
    </section>
    <section id="flex-slider">
    <div class="main-gallery"   >
        <div class="gallery-cell">
          <a href="moviesPage.html"><img src="images/movies.svg" alt="movies" class="slider"></a>
            <h1 class= "sliderText">Movies</h1>
            <p class="desc">Watch all of your favorite movies<br>before they become remakes<br>Now Streaming</p>
        </div>
        <div class="gallery-cell"><img src="images/tv.svg" alt="tv" class="slider"><h1 class="sliderText">Tv Shows</h1><p class="desc">Relive the classic Sitcoms and<br> dramas with Tv shows from the<br> 50's through the 90's</p></div>
        <div class="gallery-cell"><img src="images/music.svg" alt="music" class="slider"><h1 class="sliderText">Music</h1><p class="desc">Jam out to the best collection of<br>music from 50's all  the way<br>
        to the 90's<br></p></div>
      </div>
      </section>
      <footer id="mainFooter">
          <img src="images/roku-wht.svg" alt="footerLogo" class="footerLogo">
          
        <h1 id="copyrightText">Copyright All Rights Reserved</h1>
      </footer>
 
    </main>

  <!-- Script Section -->
 <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
 <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
 <script src="js/vue.js"></script>
 <script src="js/main.js"></script>
</body>

</html>