.FormContainer
{
    background:  url("../bgImage/bgImage.png")  no-repeat ;

    
    
    width:100%;
    height:700px;
    margin-top:-20px;
    overflow: hidden;
    position:relative;
}


.roku-jumbotron {
    color: #fff;
    position:relative;
    
    margin: 200px 60px 0 !important;
    width:250px;
    height:300px;
    background-color:#662d91;
    border-radius:40px;
    text-align:center;
}
.loginHead
{
    margin-top:5px;
    font-size:30px;
    font-family:helvetica,arial,sans-serif;
   
}



.input
{
    width:140px;
    
}
::placeholder {
    color: blue;
    font-size: 20px;
  }
  
 
.form-control
{
    width:200px;
    height:60px;
   background-color:#662d91;
   border:none;

}


.btn{

    width:150px;
    height:50px;
    border:3px;
    background-color:#fff;
    color:#000;
    margin:0 40px 0;
    font-family:helvetica,arial,sans-serif;
}


@media (min-width: 1281px) {

    .FormContainer
{
    background:  url("../bgImage/bgImage.png") ;
    background-repeat:value;
    width:100%;
    height:3000px;
    margin-top:30px;
   
    

}


.roku-jumbotron {
    color: #fff;
    position:fixed;
    
    margin-top:600px !important;
    margin-left:1750px !important;
    width:900px;
    height:1000px;
    background-color:#662d91;
    border-radius:40px;
    text-align:center;
    
}
.loginHead
{
    margin-top:5px;
    font: size 1em; 
    font-family:helvetica,arial,sans-serif;
   
}



.input
{
    width:140px;
    
}
::placeholder {
    color: blue;
    font-size: 60px;
  }


.form-control
{
    width:500px;
    height:200px;
   background-color:#662d91;
   border:none;
   margin-top:50px;

}


.btn{

    width:300px;
    height:150px;
    border:3px;
    background-color:#fff;
    color:#000;
    margin-top:100px;
    font-family:helvetica,arial,sans-serif;
    font-size:40px;
}


}
